In [52]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
from netCDF4 import Dataset as netcdf_dataset
import netCDF4

In [44]:
# to mount 
#sudo sshfs -o allow_other aliagadi@sisu-login2.csc.fi:/wrk/aliagadi/DONOTREMOVE/saltena_2018/tucu-april-data/ ./tucu-april-data
dir = '../tucu-april-data/WPS/'
dir = '../tucu-april-data/WRF/'

In [45]:
all_files = pd.DataFrame(os.listdir(dir),columns = ['name'])

In [46]:
boo = all_files.name.str.contains('wrfout_d0') & all_files.name.str.contains('d0')
met_em_files = all_files[boo].reset_index(drop=True)
met_em_files['d']=None
_l = ['d01','d02','d03','d04']
l = 'd01'
for l in _l:
    _b = met_em_files.name.str.contains(l)
    met_em_files.loc[_b,'d'] = l 
met_em_files.head()

                             name    d
0  wrfout_d02_2018-04-05_12:00:00  d02
1  wrfout_d04_2018-04-05_12:00:00  d04
2  wrfout_d03_2018-04-05_06:00:00  d03
3  wrfout_d01_2018-04-05_18:00:00  d01
4  wrfout_d03_2018-04-05_18:00:00  d03

In [47]:
import os.path
file = met_em_files[met_em_files.d=='d04'].name.iloc[0]
file_path = os.path.join(dir,file) 
file_path

'../tucu-april-data/WRF/wrfout_d04_2018-04-05_12:00:00'

In [48]:
file_ds = netcdf_dataset(file_path, 'r')

In [49]:
import di_python.ya_esta as ye

In [50]:
var = file_ds.variables
var = list(var)
var = pd.DataFrame(var,columns=['variable'] )
boo = var.variable.str.contains('LAT')
# varp = ye.partition(var,15) 
# pd.DataFrame(varp)
var[boo]

    variable
1       XLAT
163   XLAT_U
165   XLAT_V
168     CLAT

In [53]:
import wrf

In [51]:
file_ds.variables["XLAT"]

<class 'netCDF4._netCDF4.Variable'>
float32 XLAT(Time, south_north, west_east)
    FieldType: 104
    MemoryOrder: XY
    description: LATITUDE, SOUTH IS NEGATIVE
    units: degree_north
    stagger:
    coordinates: XLONG XLAT
unlimited dimensions: Time
current shape = (1, 78, 99)
filling on, default _FillValue of 9.969209968386869e+36 used

In [57]:
latds = wrf.getvar(file_ds,"XLAT")
latds

<xarray.DataArray 'XLAT' (south_north: 78, west_east: 99)>
array([[-16.45932 , -16.45932 , -16.45932 , ..., -16.45932 , -16.45932 ,
        -16.45932 ],
       [-16.448807, -16.448807, -16.448807, ..., -16.448807, -16.448807,
        -16.448807],
       [-16.438293, -16.438293, -16.438293, ..., -16.438293, -16.438293,
        -16.438293],
       ...,
       [-15.669197, -15.669197, -15.669197, ..., -15.669197, -15.669197,
        -15.669197],
       [-15.658646, -15.658646, -15.658646, ..., -15.658646, -15.658646,
        -15.658646],
       [-15.648087, -15.648087, -15.648087, ..., -15.648087, -15.648087,
        -15.648087]], dtype=float32)
Coordinates:
    XLONG    (south_north, west_east) float32 -68.826996 -68.81603 ... -67.75261
    XLAT     (south_north, west_east) float32 -16.45932 -16.45932 ... -15.648087
    Time     datetime64[ns] 2018-04-05T12:00:00
Dimensions without coordinates: south_north, west_east
Attributes:
    FieldType:    104
    MemoryOrder:  XY
    description:  LATITUDE, SOUTH IS NEGATIVE
    units:        degree_north
    stagger:
    coordinates:  XLONG XLAT
    projection:   Mercator(stand_lon=-68.12999725341797, moad_cen_lat=-17.000...

In [68]:
la,lo=wrf.latlon_coords(latds)

In [84]:
la0=la.values[0,0]
la1=la.values[-1,-1]
la2=la.values[0,-1]
[la0,la1,la2]

[-16.45932, -15.648087, -16.45932]